/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Roboto", sans-serif;
  }
body{
  min-height: 100vh;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
  background-color:white;
  
}

.navbar i{
  background-color: purple;
  padding: 3px;
  font-size: 25px;
}

nav .navbar{
  height: 100%;
  max-width: 1250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.navbar .logo{
  font-size: 35px;
  font-weight: 700;
  margin: 10px 0px;
  padding-left: 20px;
  
}
.navbar .logo a{
  color: purple;
    text-decoration: none
}
 .nav-links{
    line-height: 70px;
    height: 100%;
}
.nav-links ul{
  display: flex;
    padding-left: 30px;
    padding-right: 90px;
}

nav .navbar .links li{
  list-style: none;
  padding: 10px 14px;
}
nav .navbar .links li a{
  position: relative;
  padding: 10px;
  text-decoration: none;
  color: purple;
  font-size: 18px;
  font-family: 'Times New Roman';
}

.navbar .links li a:before{
  position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: purple;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform.3s linear;
}

.navbar .links li a:hover:before{
  transform: scaleX(1);
    transform-origin: left;
}


.navbar .nav-links .sidebar-logo{
  display: none;
}

.navbar .bx-menu {
  display: none;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.sidebar-logo .logo-name {
  font-size: 10px;
  font-weight: bold;
  margin: 0;

}
/* *******styling the main content*********** */
.content-section{ 
  background-image: url(student\ pic.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;  
}
.content-section span{
  color: purple;
  font-size: 40px;
  font-style: italic;
  font-family: monospace;
  font-weight: bold;
}
.content-section .button{
  margin-top: 30px;
  padding-left: 36px; 
}
.content-section .button a{
  color: white;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  border: 8px solid purple;
  border-radius: 10px;
  background-color: purple;
  padding: 10px 10px;
  margin: 0px 5px;
}
.content-section .button a:hover{
  color: rgba(0, 0, 0, 0.65) ;
  transition: 0.03s;
}
.container{
  width: 100%;
  margin-top: 40px;
}
.container .row{
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}
.image-section{
  width: 100%;
}
.image-section img{
  width: 90%;
  height: auto;
  margin: auto;
}
.content{
  width: 100%;
}

.content h1{
  font-size: 40px;
  color: purple;
  font-family: sans-serif;
}

.content h3{
  font-size: 21px;
  margin: 10px 0px;
  color: #3b667d; 
}
.content p{
  font-size: 16px;
  margin-bottom: 40px;
}
.content a{
  text-decoration: none;
  font-size: 17px;
  border: 10px;
  border-radius: 20px;
  background-color: purple;
  color: white;
  letter-spacing: 1.5px;
  padding: 10px;
}
/* *******styling the main content*********** */

/********** news Section styles***************/
.news-section{
  width: 100%;
}

.news-section .section-content{
  padding: 0px 100px;
  margin: 40px 0px;
}

.news-section .section-content .title{
  width: 90%;
  text-align: center;
  margin: auto;
}

.news-section .section-content .title h1{
  font-size: 45px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: purple;
}

.news-section .section-content .title h3{
  font-size: 25px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #3b667d;
}
.news-section .section-content .title p{
  font-size: 17px;
  color: black;
  margin-top: 20px;
}

.news-section .section-content .cards{
  display: flex;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  margin: 50px auto;
}

.news-section .section-content .cards .card{
  width: 100%;
  background-color:silver;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.news-section .section-content .cards .card img{
 width: 100%;
 height: auto;
}

.news-section .section-content .cards .card .article{
  padding: 15px 20px;
}

.news-section .section-content .cards .card .article h4{
  font-size: 25px;
  color: purple;
}

.news-section .section-content .cards .card .article p{
  font-size: 15px;
  margin: 10px 0px;
}

.news-section .section-content .cards .card a{
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  background-color: purple;
  padding: 8px 15px;
  border: 10px;
  color: white;
 margin-left: 20px;
 margin-bottom: 20px;
}

.news-section .section-content .cards .card a:hover{
  color: rgba(0, 0, 0, 0.65) ;
  transition: 0.03s;
}
/********** news Section styles***************/

.bottom{
  background-color: purple;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 200px;
  padding: 10px;
}

.bottom .links h3{
  font-size: 30px;
  font-family: 'Times New Roman';
  padding: 10px;
  color: #fff;
}

.bottom .links p{
  font-size: 14px;
  margin-inline: 15px;
  color: silver;
}

.bottom .links p a{
  text-decoration: none;
  color: silver;
  transition: 0.03s;
}

.bottom .links p a:hover{
  color: rgb(251, 243, 243);
}
.bottom .links-1 h3{
  font-size: 30px;
  font-family: 'Times New Roman';
  padding: 10px;
  color: #fff;
}

.bottom .links-1 p{
  font-size: 14px;
  margin-inline: 15px;
  color: silver;
}

.bottom .links-1 a{
  text-decoration: none;
   color: silver;
   font-size: 20px;
   padding-top: 1px;
  padding-left: 14px;
  margin-bottom: 10px;
  
}

.bottom .links-1 a:hover{
 color: rgb(251, 243, 243);
}
.footer{
  background-color: purple;
  height: 30px;
  border-top-style: double;
  align-items: center;
  display: grid;
  justify-content: center;
  width: 100%;
}

.footer a{
  text-decoration: none;
  color: silver;
  align-content: center;
  font-size: 13px;
  font-family: sans-serif;
  padding-top: 10px;
  transition: 0.03s;
}

.footer a:hover{
  color:rgb(251, 243, 243);
}



/* Media Queries */

/* Mobile Devices (Portrait) */
@media (max-width:768px) {
  nav {
    max-width: 100%;
    padding: 0 25px;
  }
  nav .navbar .logo a {
    font-size: 28px;
  }
  nav .navbar .nav-links{
    background-color: white;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
  .navbar .bx-menu {
    display:block;
  }
  .content-section h1{
    font-size: 28px;
}

.button a{
    font-size: 14px;
}

.container .row{
    flex-direction: column;
    padding: 20px;
}

.content h1{
    font-size: 32px;
}

.content h3{
    font-size: 18px;
}

.content p{
  font-size: 16px;
  margin-bottom: 40px;
}

.content a{
  text-decoration: none;
  font-size: 17px;
  border: 10px;
  border-radius: 20px;
  background-color: purple;
  color: white;
  letter-spacing: 1.5px;
  padding: 10px;
}

.content a:hover{
  color: rgba(0, 0, 0, 0.65) ;
  transition: 0.03s;
}

.news-section .section-content .cards{
  flex-direction: column;
  align-items: center;
}

.bottom{
  flex-direction: column;
  height: auto;
}

.bottom .links, .bottom .links-1{
  text-align: center;
  padding: 20px 0;
}

.footer{
  padding-top: 10px;
} 
}


@media screen and (max-width:917px){
  nav{
    max-width: 100%;
    padding: 0 25px;
  }
  .navbar {
    padding: 0 15px;
  }
  .navbar .bx-menu{
    display: block;
    font-weight: 300;
    color: purple;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
    background-color: purple;
    padding-left: 10px;
    padding-right: 10px;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
      
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
nav .navbar .links li{
    display: block;
  }

}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}
